
.banner-image {
  position: absolute !important;
}

.banner-three {
  width: 17em !important;
  height: 15em !important;
  z-index: 3 !important;

  &:hover {
    width: 30em !important;
    height: 20em !important;
  }
}
